<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
    <!-- Bootstrap -->
    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/shaunak.css"/>
    <!-- endbuild -->
<body>

<div class="container">
    <div class="row main-row" ng-controller="MenuController">
        <div class="col-xs-12">
        <button class="btn btn-xs btn-primary pull-right" ng-click="toggleDetails()">
            {{showDetails ? 'Hide Details' : 'Show Details'}}
        </button>
            <!--TABS-->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a href="#home" aria-controls="all menu" role="tab" data-toggle="tab" ng-click="select(1)">All Menu</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(2)}">
                    <a aria-controls="appetizers" role="tab" data-toggle="tab" ng-click="select(2)">Appetizers</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(3)}">
                    <a aria-controls="mains" role="tab" data-toggle="tab" ng-click="select(3)">Mains</a>
                </li>
                <li role="presentation" ng-class="{active:isSelected(4)}">
                    <a aria-controls="desserts" role="tab" data-toggle="tab" ng-click="select(4)">Desserts</a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="dish in dishes | filter: filtText">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt=""/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">
                                {{dish.name}}
                                <span class="label label-danger label-xs">{{dish.label}}</span>
                                <span class="badge">{{dish.price | currency}}</span>
                            </h2>

                            <p ng-show="showDetails">{{dish.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- build:js scripts/main.js -->
<script src="../bower_components/angular/angular.js"></script>
<!--alternative: ise app.js
<script src="scripts/app.js"></script>-->
<!-- endbuild -->


<!--USING SERVICES-->
<script src="scripts/app3.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>

</body>

</html>
